* {
    box-sizing: border-box;
}
:root {
    --primary-color: #5d3bee;
    --secondary-color: #080415;
    --primary-background: #fbfaff;
    --desc-color: #51586a;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    text-align: center;
    line-height: var(--height);
    min-width: var(--width);
    --width: 170px;
    --height: 62px;
    height: var(--height);
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
}
.btn:hover {
    opacity: 0.8;
}
.section__heading-h2 {
    color: var(--secondary-color);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 66px; /* 117.857% */
    letter-spacing: -2.24px;
}
.section__heading-h3 {
    color: var(--secondary-color);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: -1.28px;
}
.section__desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
/* Header */
.header {
    padding-top: 20px;
}
.header__container {
    width: 1330px;
    margin: 0 auto;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user__email {
    display: flex;
    align-items: center;
    gap: 10px;
}
.letter {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(93, 59, 238, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.email {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.avt__img {
    position: relative;
    left: 50%;
    transform: translateX(50%);
}
.header__list {
    display: flex;
    align-items: center;
    gap: 1px;
}
.header__link {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px 21px;
}
.header__link:hover {
    text-shadow: 1px 0 currentColor;
}
/* Hero */
.hero {
    margin-top: 44px;
}
.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__media {
    width: calc(514 / 1170 * 100%);
    position: relative;
}
.hero__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 514px;
    height: 705px;
    position: relative;
    z-index: 1;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.hero__img-deco {
    position: absolute;
    left: -200px;
    bottom: 0;
}
.hero__img-deco2 {
    position: absolute;
    bottom: 0;
    left: calc(100% + 364px);
}
.hero__heading {
    width: 500px;
    height: 164px;
    color: var(--secondary-color);
    font-size: 8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 95%;
    letter-spacing: -3.2px;
}
.hero__desc {
    margin-top: 20px;
    width: 370px;
}
.hero__action {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.hero__btn-work {
    background: transparent;
    white-space: nowrap;
    --width: 86px;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.hero__social {
    margin-top: 104px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.hero__follow {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
}
.hero__social-list {
    display: flex;
    gap: 20px;
}
.hero__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}
.hero__social-item + .hero__social-item .hero__social--icon {
    margin-top: 2px;
}
/* Company */
.company {
    margin-top: 111px;
}
.company__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company__heading {
    width: 253px;
    font-size: 42px;
    line-height: 50px; /* 119.048% */
    letter-spacing: -1.68px;
    position: relative;
    margin-left: 99px;
}
.company__heading::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 86px;
    height: 2px;
    background: var(--primary-color);
    left: -99px;
    top: 22px;
}
.company__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px 34px;
}
.company__item {
    display: flex;
    align-items: center;
    gap: 13px;
}
.company__box {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company__item:nth-child(3) .company__box {
    background: #fee101;
}
.company__item:nth-child(4) .company__box {
    background: #ff0000;
}
.company__item:nth-child(5) .company__box {
    background: #14a800;
}
.company__item:nth-child(7) .company__box {
    background: #7f54b3;
}

.company__name {
    color: var(--secondary-color);
    font-size: 1.6rem;
    font-weight: 550;
    letter-spacing: -1px;
}
/* Service */
.service {
    margin-top: 133px;
}
.service__heading {
    text-align: center;
}
.service__desc {
    margin-top: 20px;
    width: 534px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.service__list {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.service__card {
    width: 370px;
    height: 306px;
    background: var(--primary-background);
    border-radius: 10px;
    padding: 33px 43px;
}
.service__img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service__icon {
    transform: translateY(7px);
}
.service__name {
    margin-top: 22px;
    margin-bottom: 18px;
}
/* Work */
.work {
    margin-top: 140px;
    background: #5d3bee;
}
.work__inner {
    padding: 86px 0;
}
.work__title {
    display: flex;
    align-items: center;
    gap: 160px;
}
.work__heading {
    color: #fff;
    width: 415px;
}
.work__desc {
    width: 370px;
    color: #fff;
}
