* {
    box-sizing: border-box;
}
:root {
    --primary-color: #5d3bee;
    --secondary-color: #080415;
    --primary-background: #fbfaff;
    --desc-color: #51586a;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin: 0 auto;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: 62px;
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
}
.btn:hover {
    opacity: 0.8;
}
.section__heading-h2 {
    color: var(--secondary-color);
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 66px; /* 117.857% */
    letter-spacing: -2.24px;
}
.section__heading-h3 {
    color: var(--secondary-color);
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    letter-spacing: -1.28px;
}
.section__desc {
    color: var(--desc-color);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
